<h4>Please enter the search term</h4>
<div id="search">
  <input class="typeahead" type="text" placeholder="Search word" autocomplete="off">
  <ul id="suggestions" style="list-style: none; padding: 5px;"></ul>
</div>